# Dependencies
node_modules/

# Build output
dist

# Logs
*.log

# Environment
.env
.env.*

# Editor
.idea/
.vscode/

# Sass cache
**/.sass-cache
*.css.map

# Bun
bun.lockb

# OS
.DS_Store
Thumbs.db

*.local.*