/*import 4 fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Noto+Sans+JP|Noto+Sans+KR&display=swap');
@import "mixin";

$myFont: 'Open Sans', 'Noto Sans HK', 'Noto Sans KR', 'Noto Sans JP', '.AppleSystemUIFont', Arial, sans-serif;
* {
  font-size: 15px;
}

body {
  background-color: white;
  margin: 0 6% 10px 6%;
  font-family: $myFont;
  padding: 0 10px;
  //display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* make page full even when it is empty*/
}

.nav-bar {
  margin-top: 0;
}

.edit-bar {
  display: flex;
  padding-bottom: 10px;
  margin: 10px 5px;
}

input {
  margin: 0 5px;
}

.edit-area {
  size: auto;
  box-sizing: border-box;
  flex: 1;
}

.locator {
  text-align: center;
  width: 70px;
}

.sticky {
  top: 0;
  position: sticky;
  background: white;
}

/* make things like a button */
.button {
  background: transparent;
  margin: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

button {
  padding: 1px;
}

.button:hover, button:hover {
  background-color: lightgray;
  border-radius: 3px;
  transition: 0.3s;
}

/*Navigation Bar layout*/
.nav-item {
  margin: 1px;
  text-align: center;
  list-style-type: none;
  padding: 5px;
  color: black;
  width: 55px;
  display: inline-block;
  height: 120%;
  text-decoration: none;
}

.spreadsheet {
  //background: #D9C666;
  margin: -30px 10px 0 10px;
  // -30px is important as this hides the fake column bar
  // 10px is for alignment with the sticky column bar
}

.sheet-button {
  margin: 2px;
}

.edit-button {
  margin: 1px;
  padding: 4px 8px;
}

.file-input {
  display: none;
}

.red {
  color: orangered;
}

.green {
  color: forestgreen;
}

.blue {
  color: dodgerblue;
}

.bg-lightgray {
  background: lightgray;
}

.dropdown {
  overflow: hidden;
}

.dropdown .drop-btn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 5px;
  background-color: inherit;
  transition: 0.3s;
}

.drop-btn:hover {
  background: lightgray;
  transition: 0.3s;
}

.dropdown-content {
  background: whitesmoke;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  transition: 0.3s;
}

.dropdown-content a {
  float: none;
  color: black;
  background: whitesmoke;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background-color: #ddd;
  transition: 0.3s;
}

.show {
  display: block;
}

hr {
  background: whitesmoke;
  color: black;
  margin: 0;
  padding: 0;
}

b {
  font-weight: bolder;
  font-family: Arial, sans-serif;
}

tr {
  @include cellHeight;
  border: 1px solid lightgray;
}

td {
  border: 1px solid lightgray;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  table-layout: fixed;
  border-block: none;
}

.column-button, .row-button {
  border: 1px solid transparent;
}

.column-button {
  height: 100%;
  width: 80px;
  margin: 0 5px;
  display: inline;
  cursor: s-resize;
}

.row-button {
  //text-align: center;
  //padding: 5px;
  //width: 30px;
  margin: 0;
  width: 100%;
  @include cellHeight;
  cursor: e-resize;
}

.row-button:hover, .column-button:hover {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
}

.corner-button {
  cursor: crosshair;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  display: inline-table;
}

.corner-button:hover {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
}

.corner-div {
  grid-row: 1;
  grid-column: 1;
  background: gray;
  align-items: center;
  justify-items: center;
  transition: 0.3s;
}

.corner-div:hover {
  background: transparent;
  transition: 0.3s;
}


.sheet-div {
  grid-row: 1;
  grid-column: 2;
  overflow: auto;
}
// change cursor when pointing at cells
.sheet-div td {
  cursor: crosshair;
}

.column-bar {
  grid-row: 1;
  grid-column: 2;
  justify-items: center;
  align-items: center;
  overflow: auto;
  overflow-y: hidden;
  background: white;
}

.column-bar::-webkit-scrollbar {
  display: none;
}

.row-bar {
  grid-row: 1;
  grid-column: 1;
  justify-items: center;
  background: lightgray;
}

// grid layout
.grids {
  @include commonGrid;
  grid-template-rows: auto;
  grid-template-columns: 35px auto;
}

.upper-grid {
  @include commonGrid;
  grid-template-rows: 30px;
  grid-template-columns: 35px auto;
}

.table-head {
  margin: 0 10px;
}

.table-cell {
  width: 80px;
}

.cell-td {
  align-items: center;
  align-content: center;
  justify-items: center;
}

//container for fake column bar & cells
.cell-div {
  font-family: Arial, sans-serif;
  width: 80px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// make buttons unable to click
.disabled-button {
  color: gray;
  pointer-events: none;
}

.disabled-button:hover {
  background: inherit;
}

// highlight the selected row/column
.selected-row-col {
  color: white;
  background: forestgreen;
  transition: 0.3s;
}

.selected-row-col:hover {
  color: black;
  transition: 0.3s;
}

.selected-row-col > button {
  color: white;
}

.selected-row-col > button:hover {
  color: black;
}
// highlight the selected cell
.selected-cell {
  transition: 0.3s;
  background: rgba(142, 255, 32, 0.5);
}
